In [17]:
lst = ['keren', 'hila', 'yoav']
indexes = [1, 2, 3, 4]

In [25]:
#a in x: checks presence
print 'keren in lst' if 'keren' in lst else None

SyntaxError: invalid syntax (<ipython-input-25-44603ea1713b>, line 2)

In [4]:
print 'k in keren' if 'k' in 'keren' else None

k in keren

In [23]:
#sum(x): adds up elements
sum(indexes)

4

In [5]:
#all(x)/any(x): return True is any/all in list are True
all(type(i) is str for i in lst )

True

In [9]:
any('a' in word for word in lst)

True

In [18]:
#reversed(x): iterator of elements in reverse order
print(', '.join(reversed(lst)))

yoav, hila, keren

In [19]:
#list of tuples with one element from each list
zip(indexes, lst)

[(1, 'keren'), (2, 'hila'), (3, 'yoav')]

In [26]:
#applying an operation to each item in the list
def sqr(x): return x ** 2
map(sqr, indexes)

[1, 4, 9, 16]

In [27]:
map((lambda x: x **2), indexes)

[1, 4, 9, 16]

In [28]:
#extracts each element in the sequence for which the function returns True
filter((lambda x: len(x) < 5), lst)

['hila', 'yoav']

In [33]:
#reduces a list to a single value by combining elements via a supplied function
#At each step, reduce passes the current product or division, along with the next item from the list, to the passed-in lambda function. 
#By default, the first item in the sequence initialized the starting value.
reduce((lambda x, y: x + y), indexes)

10